<div class="app-container">
  <h1 class="middle">
    News reader
  </h1>
  <div class="middle">
    <select id="category" class="form-control" [(ngModel)]="category" (change)="changeCategory();">
      <option value="technology">Technologia</option>
      <option value="business">Biznes</option>
      <option value="entertainment">Rozrywka</option>
      <option value="general">Świat</option>
      <option value="health">Zdrowie</option>
      <option value="science">Nauka</option>
      <option value="sports">Sport</option>
    </select>
  </div>
  <div class="middle" *ngIf="news && news.articles">
    <div class="article middle" *ngFor="let article of news.articles">
      <div class="row">
        <div class="col-sm-4">
          <a href="{{article.articleUrl}}" target="_blank"><img class="thumbnail" [src]="article.imageUrl"/></a>
        </div>
        <div class="col-sm-8">
          <div class="date">{{article.date}}</div>
          <a href="{{article.articleUrl}}" target="_blank"><div><b>{{article.title}}</b></div></a>
          <div class="description">{{article.description}}</div>
          <div class="bottom">{{article.author}} - {{article.sourceName}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="middle" *ngIf="serverConnectionFailed"><b>Server connection failed</b></div>
  <div>
    <div class="middle">
      powered by NewsAPI.org
    </div>
  </div>
  
  <router-outlet></router-outlet>
</div>
